.navigation {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.navigation>ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation>ul>li {
    text-align: center;
    display: inline-block;
    width: 15%;
    color: blanchedalmond;
    padding: 0.2em;
    border-radius: 0.3em;
    margin: 0 0.2em;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    text-shadow: 0 0 0 white;
    transition: text-shadow 0.3s;
}

.navigation>ul>li>a {
    text-decoration: none;
    color: blanchedalmond;
    text-transform: uppercase;
}

.navigation>ul>li:hover {
    text-decoration: none;
    color: blanchedalmond;
    text-shadow: 0 0 5px white;
}