body {
    display: block;
    margin: 0 auto;
    width: 900px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
    display: inline-block;
}

.cover-photo {
    display: block;
    width: 100%;
    height: 15em;
    object-fit: cover;
    border-radius: 0em 0em 2em 2em;
    filter: blur(2px);
    transition: filter 0.7s;
}

.cover-photo:hover {
    filter: blur(0px);
}

.text {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 4em;
    text-align: center;
    width: 40%;
    color: blanchedalmond;
    text-shadow: 2px 2px black;
}

.main-page {
    text-align: justify;
    margin: 4em 0 4em 0;
}

footer {
    position: absolute;
    padding: 0.5em 0.5em 0.5em 0;
    min-width: 900px;
    color: black;
    border-radius: 2em 2em 0 0;
    background-color: lightgray;
    text-align: center;
}

.personal-photo {
    border: lightgrey 1px solid;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    margin-left: 45em;
    margin-top: -6em;
    position: absolute;
    transition: border 0.7s
}

.personal-photo:hover {
    border: black 1px solid;
}