body {
    display: block;
    margin: 0 auto;
    width: 900px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5em;
}

.cover-photo {
    display: block;
    width: 100%;
    height: 15em;
    object-fit: cover;
    border-radius: 0em 0em 2em 2em;
    filter: blur(1px);
    transition: filter 1s;
    box-shadow: 0px 0px 20px grey;
}

.cover-photo:hover {
    filter: blur(0px);
}

.text {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 4em;
    text-align: left;
    width: 40%;
    color: blanchedalmond;
    text-shadow: 0px 0px 20px white;
}

.main-page {
    text-align: justify;
    margin: 2em 0 2em 0;
    padding: 1.0em 1.5em 1.5em 1.5em;
    border-radius: 2em;
    box-shadow: 0 0 10px lightgray;
    border: lightgray 1px solid;
    transition: border 0.7s;
    transition: box-shadow 0.7s;
}

.main-page:hover {
    z-index: -1;
    /* hide shadow behind image */
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    margin-top: 5em;
    border: lightgray 1px solid;
    padding: 0.5em 0.5em 0.5em 0.5em;
    min-width: calc(900px - 100%);
    color: black;
    border-radius: 2em 2em 0 0;
    background-color: lightgray;
    text-align: center;
    transition: border 0.7s;
    box-shadow: 0 0 45px lightgray;
}

footer:hover {
    border: lightgray 1px solid;
}

.personal-photo {
    border: lightgrey 1px solid;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    margin-left: 45em;
    margin-top: -6em;
    position: absolute;
    box-shadow: 0px 0px 20px white;
    transition: border 0.7s;
}

.personal-photo:hover {
    border: white 1px solid;
    box-shadow: 0px 0px 20px white;
}

input[type=text], input[type=email] {
    display: inline-block;
    margin: 0.7em;
    padding: 0.5em;
    width: 45%;
    border: none;
    text-align: center;
    border-bottom: 1px solid lightgray;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    box-shadow: 0 7px 7px -6px lightgray;
    background-color: lightyellow;
    border-radius: 1em;
}

.form {
    width: 100%;
    text-align: center;
}

form {
    text-align: center;
    align-items: center;
}

textarea {
    display: block;
    background-color: lightyellow;
    border: solid 1px lightyellow;
    overflow: auto;
    resize: none;
    outline: none;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 8px lightgray;
}

input[type=submit] {
    width: 30%;
    border: lightgray 1px solid;
    border-radius: 1.5em;
    box-shadow: 0 0 8px lightgray;
    background: transparent;
    padding: 1em;
    margin: 1em;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.g-recaptcha {
    width: 700px;
    text-align: center;
}